BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 8

ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
  AfterControlStatement: false
  BeforeElse: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

NamespaceIndentation: None
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterNamespace: true
  AfterClass: true
  AfterFunction: true
  AfterEnum: true
  BeforeElse: true

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^".*"'
    Priority: 2

PointerAlignment: Left
DerivePointerAlignment: false

SpacesBeforeTrailingComments: 2
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: false

Cpp11BracedListStyle: true
FixNamespaceComments: true

IndentCaseLabels: true
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
AllowAllParametersOfDeclarationOnNextLine: false

SeparateDefinitionBlocks: Always
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
